

.main-header{
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 7vh;
    font-size: 3vh;
    background-color: black;
    color: white;
    top: 0vh;
    align-items: center;

    
}

.main-view{
    position: relative;
    top: 50%;
    width: 100%;
    justify-content: center;

}

.center-box{
    display: flex;
    justify-content: center;    

}


.dark-body{
    display: block;
    justify-content: center;

    background: black;
    overflow-y: hidden;
    overflow-x: hidden;
}

.play-button{
    height: 80px;
    border-style: solid;
    color: white;
    background-color: black;
    margin-bottom: 1vh;
    font-size: 2vh;
    text-align: center;
    width: 20%;
    
    
}

.play-icon{
    color: white;
    height: 5vh;
    left: 50%;
}

.next-button{
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 2vh;
    text-align: center;
    width: 20%;
    background-color: black;
    border-style: solid;
    color: white;
    border-color: white;
}

.option-button{
    border: 5%;
    border-color: white;
    border-style: solid;
    padding: 1vh;
    font-size: 2vh;
    text-align: center;
    width: 15vw;
    white-space: nowrap;
    display: block;
    background-color: black;
    color: white;

    > span {
        display: block;
        line-height: 2;
        font-style: italic;

    
        &:first-of-type {
            font-style: normal;
            line-height: 1.5;
        }
    }
}


.options{
    display: grid;
    grid-template-columns: repeat(3, 15vw);
    justify-content: center;
    align-items: center;
    width: 100%;
}

.score-label{
    font-size: 2vh;
    display: block;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    width: 100%;
}


.spectro-view{
    position: absolute;
    left: 50%;
    height: 45vh;
    
}

.indicator{
    position: relative;
    left: 50%;
    right: 50%;
    background-color: white;
    width: 2px;
    height: 45vh;
    z-index: 6;
    top: 7%;
}