

.main-header{
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 7vh;
    font-size: 3vh;
    background-color: black;
    color: white;
    top: 0vh;
    align-items: center;

    
}

.main-view{
    position: relative;
    top: 50%;
    width: 100%;
    justify-content: center;

}

.center-box{
    display: flex;
    justify-content: center;    

}


.dark-body{
    display: block;
    justify-content: center;

    background: black;
    overflow-y: hidden;
    overflow-x: hidden;
}

.play-button{
    height: 80px;
    border-style: solid;
    color: white;
    background-color: black;
    margin-bottom: 1vh;
    font-size: 2vh;
    text-align: center;
    width: 20%;
    
    
}

.play-icon{
    color: white;
    height: 5vh;
    left: 50%;
}

.next-button{
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 2vh;
    text-align: center;
    width: 20%;
    background-color: black;
    border-style: solid;
    color: white;
    border-color: white;
}

.option-button{
    border: 5%;
    border-color: white;
    border-style: solid;
    padding: 1vh;
    font-size: 2vh;
    text-align: center;
    width: 15vw;
    white-space: nowrap;
    display: block;
    background-color: black;
    color: white;

    > span {
        display: block;
        line-height: 2;
        font-style: italic;

    
        &:first-of-type {
            font-style: normal;
            line-height: 1.5;
        }
    }
}


.options{
    display: grid;
    grid-template-columns: repeat(3, 15vw);
    justify-content: center;
    align-items: center;
    width: 100%;
}

.score-label{
    font-size: 2vh;
    display: block;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    width: 100%;
}


.spectro-view{
    position: absolute;
    left: 50%;
    height: 45vh;
    transform: scale(2, 1);
    transform-origin: left;
    
}

.indicator{
    position: relative;
    left: 50%;
    right: 50%;
    background-color: white;
    width: 2px;
    height: 45vh;
    z-index: 6;
    top: 7%;
}

.top-left-menu{
    display: flex;
    position: absolute;
    top: 3vh;
    left: 1vw;
    z-index: 4;
}

.search-box{
    width: 12vw;
    font-size: 24px;
    resize: none;
    color: white;
    background-color: black;
    border: solid;
    margin-right: 1vw;
    box-sizing: border-box;
    border: 0.1vw solid white;
    
}

.search-results{
    visibility: hidden;
    width: 12vw;
    height: 50vh;
    position: absolute;
    background-color: black;
    top: 6vh;
    left: 1vw;
    border: 0.1vw solid white;
    box-sizing: border-box;
    z-index: 5;
    justify-content: center;  
    align-items: center;
    overflow: scroll;
    overflow-x: hidden;
    


}


::-webkit-scrollbar {
    width: 0.2vw;
  }



/* Track */
::-webkit-scrollbar-track {
    background: black;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: white;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.result-item{
    position: relative;
    width: 100%;
    height: 2vw;
    color: white;
    background-color: black;
    margin: 0;
    margin-top: 0.5vh;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    

}

.x-button{
    visibility: hidden;
    position: absolute;
    left: 11.8vw;
    top: 3.3vh;
    width: 2vh;
    height: 2vh;
    z-index: 6;
    background-color: black;
    border: 0;
    color: gray;
    font-size: 24px;
}


.category-button{
    color: white;
    background-color: black;
    border: 0.1vw solid white;
    height: 3vh;
}


.category-selector{
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    visibility: hidden;
    width: 30vw;
    height: 12vh;
    position: absolute;
    background-color: black;
    top: 6vh;
    left: 14vw;
    border: 0.1vw solid white;
    box-sizing: border-box;
    z-index: 5;
    
}

.category-item{
    color: white;
    background-color: black;
    border: 0.1vw solid white;
    
}


.top-right-menu{
    top: 3vh;
    position: absolute;
    right: 5vw;
    z-index: 4;
}

.flag-button{
    width: 2vw;
    height: 1.5vw;
    margin: 0.5vw;
    padding: 0;
    border-style: solid;
    
}

.flag-img{
    width: 2vw;
    height: 1.5vw;
    border-bottom : 0.4vw groove transparent;

}

